@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-3  font-weight-light ">
    <h1 class="text-center font-weight-light ">O mnie</h1>
</div>

<div class="container ">
    <img height="180" width="160"  class=" float-right ml-4" src="~/img/av.jpg"/>

    <h6 class=" text-justify mt-5  font-weight-light ">Cześć, mam na imię Łukasz.</h6>

    <h6 class=" text-justify font-weight-light ">
        Od 2011 roku pracuję w branży IT. W mojej karierze byłem już testerem oprogramowania, młodszym programistą a teraz pracuję na stanowisku programisty.
    </h6>
    <h6 class="text-justify font-weight-light ">

        Na codzień pracuję w C# .NET ale zdarzały mi się w przeszłości krótkie epizody z programowaniem aplikacji mobilnych na Android i IOS.
        W pracy wykorzystuję framework WPF i WinForms.
    </h6>


    <h6 class=" text-justify font-weight-light ">

        Poza pracą swój wolny czas staram się wypełniać sportem (obecnie akrobatyka) i rozwijaniem moich prywatnych projektów.
        Moje zainteresowania krążą wokół elektroniki, programowania i najnowszych technologii. Jednym z ostatnich większych projektów które udało mi się
        zrealizować w obrębie elektroniki to budowa drona wyścigowego od podstaw, skonfigurowanie go i oblatanie a kolejnym projektem który właśnie realizuję jest ta strona :)
        Moje pomysły staram się doprowadzać do końca wg planu i założonych celów. Ta strona ma być docelowo kontenerem na moje projekty
        gdzie będę dokumentował proces, napotkane problemy i końcowy efekt. Mam nadzieję, że znajdą się osoby które z tego skorzystają lub się zainspirują.
    </h6>

    <h6 class="text-justify font-weight-light ">

        To by było na tyle, jeśli chcesz wiedzieć o mnie więcej poniżej zamieszczam przycisk dzięki któremu możesz pobrać moje CV :) Pozdrawiam
    </h6>
</div>

<div class="container text-center">
    <button class="btn btn-outline-success  font-weight-light mt-2 mb-2">Pobierz moje CV w formacie PDF</button>
</div>



