@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-3  font-weight-light ">
    <h1 class="text-center font-weight-bold text-black ">O mnie</h1>
</div>

<div class="container " style=" max-width:550px">

    <img class=" float-right ml-4 mt-1 w-50" src="~/img/avv.jpg" />

    <h4 class=" text-justify mt-5  font-weight-light text-black ">
        Cześć, mam na imię Łukasz, na co dzień pracuję w
        charakterze programisty głównie w technologii .NET. Po pracy, mimo ograniczonych możliwości czasowych staram się realizować swoje własne pomysły
        i testować różne technologie w praktyce. Ta strona powstała w celu zgromadzenia w jednym miejscu moich
        przemyśleń i mini projektów oraz podzielenia się nimi z innymi.
    </h4>

    <h6 class="text-justify font-weight-light ">
        Pozdrawiam!
    </h6>

</div>




