@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-primary" role="alert"><h1 class="text-center">O mnie</h1></div>

<h6 class="container text-justify mt-5">Cześć, mam na imię Łukasz i poniżej postaram się krótko opisać moją osobę.</h6>
<h6 class="container text-justify">Zawodowo pracuję w charakterze programisty C# .NET już od ponad 4 lat.
    
    </h6>





