@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-3  font-weight-light ">
    <h1 class="text-center font-weight-normal ">O mnie</h1>
</div>



<div class="container " style=" max-width:550px">

    <img  class=" float-right ml-4 mt-1 w-50" src="~/img/av.jpg"  />

    <h6 class=" text-justify mt-5  font-weight-light w-50">Cześć, mam na imię Łukasz, na co dzień pracuję w 
    charakterze programisty głównie w technologii .NET. Po pracy, mimo ograniczonych możliwości czasowych staram się realizować swoje własne pomysły
    i testować różne technologie w praktyce. Ta strona powstała w celu zgromadzenia w jednym miejscu moich
    przemyśleń i mini projektów oraz podzielenia się nimi z innymi. Mam nadzieję że zamieszczone tu informacje 
    będą dla kogoś użyteczne a przynajmniej że nikomu nie zaszkodzą :)
    </h6>


    <h6 class="text-justify font-weight-light ">
     Pozdrawiam!
    </h6>


</div>




