@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-3  font-weight-light ">
    <h1 class="text-center font-weight-light ">O mnie</h1>
</div>

<div class="container ">
    #stars
    #stars2
    #stars3
    <img height="180" width="160" class=" float-right ml-4" src="~/img/av.jpg" />

    <h6 class=" text-justify mt-5  font-weight-light ">Cześć, mam na imię Łukasz.</h6>


    <h6 class="text-justify font-weight-light ">

        To by było na tyle, Pozdrawiam
    </h6>
</div>




