
@model Credentials


<h1 class="container text-center mt-5 bg-light">Logowanie do panelu admina</h1>

<form method="post" class="container text-center mt-5">
    <div class="mt5">    <label class="mb-3">Login</label></div>
    <div class="mt5">    <input class="form-control col-4 offset-4" asp-for="Login" /></div>
    <div class="mt5">    <label class="mt-3">Hasło</label></div>
    <div class=" mt-1">    <input class="form-control  col-4 offset-4" asp-for="Password" /></div>
    <div class=" mt-4 mb-2">

        <input class="btn btn-outline-primary " type="submit" name="Login" value="Login" />
    </div>
    <a class="btn btn-outline-info  float-left" asp-action="PostList" asp-controller="Blog">Powrót do listy</a>

    </div>
    @if (ViewBag.Error != null)
    {
        <div class="alert alert-warning">
            <strong>Błąd!</strong> @ViewBag.Error
        </div>}
</form>
