@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h1 class="text-center">Możesz kontaktować się ze mną poprzez:</h1>
    <h2>Adres email: lukasz.adach7@gmail.com</h2>
    <h2>Telefon: 531 155 979</h2>
    <h2>LinkedIn: https://www.linkedin.com/in/lukaszprogramista/</h2>
</div>
