@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    /* unvisited link */
    a:link {
        color: white;
    }

    /* visited link */
    a:visited {
        color: white;
    }

    /* mouse over link */
    a:hover {
        color: white;
    }

    /* selected link */
    a:active {
        color: white;
    }
</style>




<div class="mt-3 mb-5">
    <h1 class="text-center  font-weight-normal "> Kontakt</h1>
</div>

<input style="opacity:0;" type="text" value="lukasz.adach7@gmail.com" id="myInput">



<table class="table table-borderless text-left w-25 ">
    <tr>
        <td>
            <h1 class="fas fa-envelope-square fa-5x m-3 icon-white icon-shaker" href="" onclick="myFunction()" on onmouseover="MakeVisible()" onmouseout="outFunc()"></h1>
        </td>

        <td> <a class="fab fa-linkedin fa-5x icon-white m-3  icon-shaker" href="https://linkedin.com/in/lukaszprogramista"> </a> </td>

        <td> <a class="fab fa-github-square fa-5x m-3 icon-white icon-shaker " href="https://github.com/curiosity123"> </a> </td>

    </tr>
    <tr>
        <td>
            <span class="tooltiptext font-weight-bold " id="myTooltip" style="background-color:black; color:white; padding:5px; max-width:90px; border-radius:10px;display: inline-block;position:relative; ">Click to copy to clipboard</span>
        </td>
    </tr>
</table>



<script>



    window.onload = function () {
        outFunc();
    };

    function MakeVisible() {

        document.getElementById("myTooltip").removeAttribute("hidden");
    }


    function myFunction() {
        var copyText = document.getElementById("myInput");

        copyText.select();
        copyText.setSelectionRange(0, 99999);
        document.execCommand("copy");

        var tooltip = document.getElementById("myTooltip");
        tooltip.innerHTML = "Gotowe!";
    }

    function outFunc() {
        var tooltip = document.getElementById("myTooltip");
        tooltip.innerHTML = "Skopiuj adres do schowka";
        tooltip.setAttribute("hidden", "");
    }
</script>

