@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-primary" role="alert">
    <h1 class="text-center">Kontakt</h1>
</div>

<div>
    <h6 class="text-center mt-5 alert alert-info">Email: lukasz.adach7@gmail.com</h6>
    <h6 class=" text-center mt-3 alert alert-info">Telefon: +48 531 155 979</h6>


    <div  class=" text-center mt-3 alert alert-info" >
        <a class="text-center  mb-5 alert alert-info" href="https://www.linkedin.com/in/lukaszprogramista">LinkedIn: linkedin.com/in/lukaszprogramista</a>
    </div>

</div>