
@model Exception

<div>
    <div class="container text-center mt-3"><a class="h1 font-weight-bold">Ups... coś poszło nie tak... :(</a></div>
    <div class="container text-center  mt-2 mb-3"><a class="h6  ">Spróbuj opisać co kliknąłeś i w jakiej kolejności a jest spora szansa że to poprawie ;)</a></div>
</div>

