################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyWebApp/MyWebApp/AppSettings.json
/MyWebApp/MyWebApp/.gitignore
