################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyWebApp/MyWebApp/AppSettings.json
/MyWebApp/MyWebApp/.gitignore
/MyWebApp/MyWebApp/bin/Debug/netcoreapp2.0/App.Config
/MyWebApp/MyWebApp/bin/Debug/netcoreapp2.0/AppSettings.json
