@{
    @using MyWebApp.Models
    @using System.Collections.Generic
    @using System
    @model Post
    Layout = "~/Views/Shared/_Layout.cshtml";

}



<meta charset="UTF-8">
<title>bootstrap4</title>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-lite.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-lite.js"></script>

<h1>Edit a post</h1>



<form method="post">
    <div>
        <select asp-for="Category" asp-items="@Html.GetEnumSelectList<Category>()"></select>
        <label asp-for="Title">Title</label>
        <input asp-for="Title" value="@Model.Title" ></>
    </div>
    <textarea asp-for="HtmlContent" id="summernote" ></textarea>
    <input type="submit" name="save" value="save" />
</form>


<script>
    $('#summernote').summernote({
        placeholder: 'Write something ;) ',
        tabsize: 2,
        height: 200
    });
</script>

