@using MyWebApp.Models
@model List<Post>

<table>
    @foreach (Post p in Model)
    {
        <tr>
            <td>@p.Title</td>
            <td>Created at:@p.Created</td>
            <td>@p.ShortDescription</td>
            <td><a asp-action="Post" asp-route-id="@p.Id">Read more</a></td>
            <td><a asp-action="Edit" asp-route-id="@p.Id">Edit</a></td>
        </tr>
    }
</table>
<a asp-action="Create">Create new post</a>