@{
    @using MyWebApp.Models
    @model Post
}




<div class="alert alert-success" role="alert">
    <h1 class="container-fluid text-center ">@Model.Title</h1>
    <h6>Utworzono: @Model.Created</h6>
</div>


<div class="container bg-light">
    <div style=" text-align: justify;    max-width: 100%;
    max-height: 100%; word-wrap: break-word;">@Html.Raw(Model.HtmlContent)</div>
</div>


<div class="container text-center mt-4 mb-4">
    <a class="btn btn-outline-info mb-4" asp-action="PostList" asp-controller="Blog">Powrót do listy</a>
</div>