@{
    Layout = null;
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/node_modules/other/parallax/parallax.css" rel=" stylesheet" />
<link href="~/node_modules/other/layout/styles/layout.css" rel=" stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>
</head>


<body class="font-weight-light note-color-all">
    <header>
        <nav class="navbar navbar-dark navbar-expand-md">

            <div class="navbar-brand font-weight-light text-center mt-2 float-left">
                <h2 class="align-bottom font-weight-bold">Łukasz Adach</h2>
                <h2 class="align-bottom font-weight-bold">Łukasz Adach</h2>
                <h2 class="align-bottom font-weight-bold">Łukasz Adach</h2>
            </div>

            <button class="navbar-toggler float-right" type="submit" data-toggle="collapse" data-target="#menu" aria-expanded="false" aria-controls="navbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="menu" class="collapse navbar-collapse navbar-bottom mt-3">
                <ul class="nav navbar-nav ml-auto navbar-right ">
                    <li class="nav-item ">
                        <a class="nav-link " asp-controller="Projects" asp-action="PostList">Projekty</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  text-nowrap" asp-controller="Home" asp-action="About">O mnie</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Contact">Kontakt</a>
                    </li>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="Logout" style="">Wyloguj</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item ">
                            <a class="nav-link" asp-controller="Account" asp-action="Login">Panel admina</a>
                        </li>
                    }
                </ul>

            </div>
        </nav>
    </header>
    @RenderBody()
</body>
</html>
<script src="~/node_modules/jquery/dist/jquery.min.js"></script>
<script src="~/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/node_modules/other/parallax/parallax.js"></script>
