@{
    Layout = null;
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers




<!DOCTYPE html>

@*<style>
        header{
            background-color:gray
        }
    </style>*@

<link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>
</head>


<body>
    <header>
        <nav class="navbar navbar-dark bg-dark navbar-expand-md">
            <h1 class="navbar-brand">Łukasz Adach</h1>
            <button class="navbar-toggler" type="submit" data-toggle="collapse" data-target="#menu" aria-expanded="false" aria-controls="navbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="menu" class="collapse navbar-collapse navbar-bottom">
                <ul class="navbar-nav mr-auto navbar-right">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Blog" asp-action="PostList">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " asp-controller="Home" asp-action="Dev">Moje projekty</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="About">O mnie</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Contact">Kontakt</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="btn btn-outline-info" asp-controller="Home" asp-action="AdminForm"><span class="glyphicon glyphicon-log-in"></span>Panel admina</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div>
        @RenderBody()
    </div>




    @*<footer class="container-fluid  text-center bg-dark mt-4">
        <a class="text-center text-muted">Copyright 2018 Łukasz Adach</a>
    </footer>*@

</body>

</html>
<script src="~/node_modules/jquery/dist/jquery.min.js"></script>
<script src="~/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
